<div class="nav flex-column nav-pills navbar-dark bg-dark">
    <a class="nav-link" href="../Message/Compose">Soạn thư</a>
    <a class="nav-link" href="../Message/Outbox">Thư gửi</a>
    <a class="nav-link d-flex justify-content-between align-items-center" href="../Message/Inbox">Thư
        nhận<span class="badge badge-primary badge-pill">@ViewBag.count</span></a>
    <a class="nav-link" href="../Message/Trashcan">Thùng rác</a>
</div>