<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/User/CreateACC">
                        <div class="text-center">
                            <h1>Register</h1>
                            @if(@ViewBag.error == true)
                            {
                            <p style="color:red">Tạo tài khoản không thành công</p>
                            }
                        </div>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" name="name" placeholder="Username" class="form-control"
                                required="required" id="Username" onchange="UserCheck()" />
                        </div>
                        <div class="form-group">
                            <label for="Inputfullname">Fullname</label>
                            <input type="text" name="fullname" class="form-control" placeholder="Fullname"
                                required="required" id = "Inputfullname">
                        </div>
                        <div class="form-group">
                            <label for="Inputemail">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email"
                                required="required" id = "Inputemail">
                        </div>
                        <div class="form-group">
                            <label for="pass1">Password</label>
                            <input type="password" name="pass" class="form-control" placeholder="Password"
                            id="pass1"  onkeyup='checkk()'  required="required">
                        </div>
                        <div class="form-group">
                                <label for="confirmpass1">Password confirm</label>
                                <input type="password" name="confirmpass" class="form-control" placeholder="Password confirm"
                                id="confirmpass1" onkeyup='checkk()' required="required">
                        </div>
                        <span id="message"></span>
                        <button class="btn btn-success" id="check">Sign Up</button>
                        <p style="margin:13px 3px;">Already have an account? <a href="/User/Login"> Sign In.</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>